# Exclude node_modules directory since it will be re-created during the image build
node_modules/

# Exclude any development or build-related files
*.log
*.swp
*.swo
*.sqlite
npm-debug.log
yarn-error.log
.env
.DS_Store
.git
.gitignore
.vscode/
tests/
coverage/